<p id="notice"><%= notice %></p>

<p>
  <strong>Performer:</strong>
  <%= @order.performer %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order.client %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @order.duration %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
