<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @performer.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @performer.number %>
</p>

<%= link_to 'Edit', edit_performer_path(@performer) %> |
<%= link_to 'Back', performers_path %> |
<%= link_to 'Goto Sessions', talk_bot_path(:caller_id => @performer.id) %>
